@{
    ViewBag.Title = "Negative Feedback";
    bool showAcknowledgment = ViewBag.ShowAcknowledgment;
}

@if (showAcknowledgment)
{
    <div class="acknowledgment">
        @Html.Partial("_FeedbackAcknowledgmentPartial")
    </div>
}
else
{
    using (Html.BeginForm("Negative", "Home", FormMethod.Post))
    {
        @Html.Partial("_FeedbackCriteriaPartial")

        @Html.Partial("_FeedbackRulesPartial")

        @Html.Partial("_FeedbackToolPartial")

        @Html.Partial("_FeedbackCommentPartial")

        <button type="submit" class="btn btn-primary btn-lg">Submit NEGATIVE Feedback</button>
    }
}